@model Project.Manager.Models.HoraTrabalhada

@{
    ViewBag.Title = "ExcluirPonto";
}

<h2>Excluir Ponto</h2>

<h3>Tem certeza de que gostaria de excluir este ponto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdColab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdColab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioSaida)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para a lista", "ListarPontos")
        </div>
    }
</div>
